@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --color-fondo: #F3F5FC;
    --color-seccion-uno: #F3F5FC;
    --color-seccion-botones: #D8DFE8;
    --color-seccion-dos: #FFFFFF;
    --color-hover: #0A3871;

    --fuente-opensans: 'OpenSans';
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-seccion-uno);
    box-sizing: border-box;
}

main {
    border: #0A3871 2px solid;
    padding: 30px;
    margin: 10px;
    display: flex;
  
    /* background-color: orange; */
  }

footer {
    border: #0A3871 2px solid;
    padding: 30px;
    margin: 10px;
    /* background-color: blue; */
  }

textarea {
    width: 680px;
    height: 288px;
    border: none;
    padding: 10px;
    font-size: 32px;
    resize: none;
    outline: none;
    fill: #0A3871;
    stroke: #000000;
  }

button {
    padding: 10px;
    border-radius: 10px;
    width: 328px;
    height: 67px;
  }
.seccion-dos {
    text-align: right;
}
.seccion-resultado{
    width: 90%;
}